body {
  text-align: center;
  background: linear-gradient(109.6deg, rgb(228, 253, 212) 5.2%, rgb(206, 240, 185) 67.5%, rgb(100, 163, 111) 100.2%);
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 50px;
  margin: 30px;
  text-shadow: 4px -3px 3px rgba(0, 0, 0, 0.4);
}

h1:before {
  content: "";
  border-bottom: 1rem solid rgba(255, 255, 255);
  width: 15rem;
  display: block;
  position: relative;
  left: 35rem;
  top: 3rem;
  z-index: -1;
}